{% load i18n %}

{% block subject %}
{% blocktrans %}Восстановление пароля на сайте {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Вы получили данное сообщение, потому что на сайте {{ site_name }} с Вашего аккаунта был отправлен запрос на восстановление пароля.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по нижеуказанной ссылке и введите новый пароль:" %}
{{ protocol }}://{{ domain }}/{{ url }}
{% trans "Ваш логин:" %} {{ user.get_username }}

{% trans "Спасибо за внимание!" %}

{% blocktrans %}С уважением, команда VeneziaStone! {% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Вы получили данное сообщение, потому что на сайте {{ site_name }} с Вашего аккаунта был отправлен запрос на восстановление пароля.{% endblocktrans %}</p>

<p>{% trans "Пожалуйста, перейдите по нижеуказанной ссылке и введите новый пароль:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
<p>{% trans "Ваш логин" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Спасибо за внимание!" %}</p>

<p>{% blocktrans %}С уважением, команда VeneziaStone! {% endblocktrans %}</p>
{% endblock html_body %}
